main {
    padding-top: 0;
}

#error-display {
    color: red;
}

ul {
    display: grid;
    gap: 10px;
}

li {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--offset-color);
    box-shadow: var(--box-shadow);
    transition: box-shadow 250ms ease-out;
}

li:hover {
    box-shadow: var(--hover-box-shadow);
}

li a {
    font-size: 1.1em;
    font-family: var(--label-font);
    font-weight: 800;
    flex-grow: 2;

    text-decoration: none;
    color: initial;
    cursor: pointer;
}

.favorite-button {
    border: 0;
    background: 0;
    font-size: 1.5em;
    height: 36px;
}
